<div class="slider-area slider-six white-bg">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-10 col-md-8 col-text-center">
                <div class="slider-text ptb-100 plr-60">
                    <h1 class="font-50">Fresh and Carry</h1>
                    <p>Edw mpainei to slogan kai h enasxolisi tis etairias . </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Section End -->

<!-- Portfolio Section Start -->
<div class="portfolio-area portfolio-six white-bg section-padding clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="portfolio-menu hover-1 text-center">
                    <ul class="clearfix mb-40">
                        <li data-filter="*" class="active">ΚΑΤΙ</li>
                        <li data-filter=".web">ΚΑΤΙ</li>
                        <li data-filter=".design">ΚΑΤΙ</li>
                        <li data-filter=".new">ΚΑΤΙ</li>
                        <li data-filter=".print">ΚΑΤΙ</li>
                        <li data-filter=".work3d">ΚΑΤΙ</li>
                    </ul>
                </div>
                <div class="portfolio-grid fitRows-grid hover-1">
                    <div class="grid-item work3d print percent-33">
                        <div class="single-portfolio overlay">
                            <img src="assets/img/portfolio/three/1.jpg" alt="" />
                        </div>
                        <div class="project-title text-center ptb-30">
                            <a href="portfolio-details-4.html">
                                <h4 class="mb-5">ΚΑΤΗΓΟΡΙΑ ΠΡΟΙΟΝΤΩΝ</h4>
                            </a>
                            <p>Print, Branding</p>
                            <hr class="line" />
                        </div>
                    </div>
                </div>
                <div class="view-all unset text-center">
                    <a class="btn mt-40" href="portfolio-3-style-4.html">ΠΕΡΙΣΣΟΤΕΡΑ <i
                            class="zmdi zmdi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Section End -->

<!-- Footer Section Start -->
<footer class="footer white-bg ptb-20 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="left pull-left">
                    <p>Copyright &copy; 2017 <a href="https://themeforest.net/user/regaltheme/portfolio"
                            target="_blank">Regaltheme</a>.</p>
                </div>
                <div class="social-icon simple pull-right">
                    <ul class="clearfix">
                        <li><a href="http://www.facebook.com/" target="_blank"><i
                                    class="zmdi zmdi-facebook"></i></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->